Service References/asd/bkm-pos-service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.bkmexpress.com.tr" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.bkmexpress.com.tr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.bkmexpress.com.tr">
      <s:element name="requestMerchInfo">
        <s:complexType />
      </s:element>
      <s:element name="requestMerchInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestMerchInfoResult" type="tns:RequestMerchInfoWSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestMerchInfoWSResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PosUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PosUserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PosPassword" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="S3DAuth" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MpiUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MpiUserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MpiPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="S3DFDec" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extra" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Timestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="resultMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="resultDet" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="requestMerchInfoSoapIn">
    <wsdl:part name="parameters" element="tns:requestMerchInfo" />
  </wsdl:message>
  <wsdl:message name="requestMerchInfoSoapOut">
    <wsdl:part name="parameters" element="tns:requestMerchInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="bkm_pos_serviceSoap">
    <wsdl:operation name="requestMerchInfo">
      <wsdl:input message="tns:requestMerchInfoSoapIn" />
      <wsdl:output message="tns:requestMerchInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bkm_pos_serviceSoap" type="tns:bkm_pos_serviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="requestMerchInfo">
      <soap:operation soapAction="http://www.bkmexpress.com.tr/requestMerchInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="bkm_pos_serviceSoap12" type="tns:bkm_pos_serviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="requestMerchInfo">
      <soap12:operation soapAction="http://www.bkmexpress.com.tr/requestMerchInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="bkm_pos_service">
    <wsdl:port name="bkm_pos_serviceSoap" binding="tns:bkm_pos_serviceSoap">
      <soap:address location="https://ikea.magiclick.net/_ws/bkm-pos-service.asmx" />
    </wsdl:port>
    <wsdl:port name="bkm_pos_serviceSoap12" binding="tns:bkm_pos_serviceSoap12">
      <soap12:address location="https://ikea.magiclick.net/_ws/bkm-pos-service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>